<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2> Registration page</h2>
    <br><br>
  
    <form action="/registration" method="post">
        Name:
        <input type="text" name="name">
        <br><br>
        Email:
        <input type="email" name="email">
        <br><br>
        Password:
        <input type="password" name="password">
        <br><br>
        Phone No:
        <input type="number" name="phoneNo">
        <br><br>
        role:
        <label for="cars">Choose a role:</label>
        <br><br>

        <select name="role">
            <option value="patient">patient</option>
            <option value="doctor">doctor</option>
        </select>
        <br><br>

        <button type="submit">Register</button>
    </form>
</body>

</html>