<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Doctor Dashboard</h1>
    <h3>Hello <%= doctor.name%>
    </h3>

    Total Appointments : 0
    Today's Appointments : 0
    Pending Appointments : 0

</body>

</html>