<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%doctors.forEach(function(doctor){%>
        <ul>
            <li>
                <%=doctor.name%>
                    <br>
                    <%=doctor.phoneNo%>
            </li>
            <a href="/patient/doctors/<%=doctor._id%>">View Doctor</a>
        </ul>
        <%})%>

</body>

</html>